@use "../../styles/variables" as *;

.breadcrumb {
  display: inline-flex;
  list-style: none;
  font-size: $font-size-sm;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  padding: 0;
  border-radius: 0.25rem;
  color: $color-gray-darker;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 10px;
  color: $color-gray-darker;
}

.breadcrumb-item.active {
  font-weight: $font-weight-bold;
}
