.wrapper {
  background-color: $color-primary;
  @include flex-center;
}

.container {
  @include grid-container;
  grid-column-start: 2;
  grid-column-end: 10;
}

.grid-span {
  grid-column-start: 2;
  grid-column-end: -2;
}
