$color-primary: #ffe600;
$color-dark: #333333;
$color-gray-dark: #999999;
$color-gray-darker: #666666;
$color-gray-light: #eeeeee;
$color-blue: #3483fa;
$color-white: #ffffff;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

$font-family-base: Roboto, Arial, sans-serif;
$font-size-base: 16px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 24px;
$font-size-lg: 28px;
$font-size-xl: 46px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-color: $color-gray-light;
$border-width: 1px;

$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 28px;

//
$container-width: 80%;
$grid-gap: 20px;

$card-height: 180px;
$card-width: 180px;
$card-height-lg: 680px;
$card-width-lg: 680px;
$grid-gap-large: 32px;
